<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Board{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body style="background-color: #ffffff">

{% include 'basecamp/navbar.html' %}




<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-9" id="main-area">
            <section class="py-1 text-center container">
                <div class="row py-lg-4">
                    <div class="col-lg-6 col-md-8 mx-auto">

                        <h1 class="fw-light">자유게시판</h1>
                        <p class="lead text-muted">여러분의 의견을 자유롭게 알려주세요.</p>

                    </div>
                </div>
            </section>
        {% block content %}

        {% endblock %}
        </div>

        <div class="col-md-4 col-lg-3">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" onkeyup="wait_for_enterkey()" placeholder="Search for..." id="search-input">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button" onclick="search_post();">검색</button>
                        </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card" id="category-card">
                <ul class="list-group list-group-flush">
                    <li id="category-free-board" class="list-group-item bg-dark text-white"
                        class="list-group-item"
                        style="cursor:pointer"
                        onclick="location.href='/board/free_board'">
                        자유 게시판
                    </li>
                    <li id="category-qna"
                        class="list-group-item "
                        style="cursor:pointer"
                        onclick="location.href='/board/qna_board/'">
                        Q&A
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div style="margin-top: 30px">
{% include 'blog/footer.html' %}
</div>

<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>

<!-- 검색 기능 -->
<script>
    function search_post(){
        let search_value = document.getElementById('search-input').value.trim();
        if (search_value == ''){
            alert('검색어를 입력하세요');
        }
        else location.href="/board/free_board/search/" + search_value + "/";
    };

    function wait_for_enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }


</script>
</body>
</html>