<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Board{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body style="background-color: #ffffff">

{% include 'basecamp/navbar.html' %}



            {% block content %}
            {% endblock %}



<script>
    function search_post(){
        var search_value = document.getElementById('search_input').value;
        location.href="/blog/search/" + search_value + "/";
    }

    function wait_for_enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }
</script>

{#<script>#}
{#    function searchPost(){#}
{#        let searchValue = document.getElementById('search_input').value.trim();#}
{#        if (searchValue.length > 1){#}
{#            location.href="/blog/search/" + searchValue + "/";#}
{#        }#}
{#        else{#}
{#            alert('검색어('+ searchValue +')가 너무 짧습니다.');#}
{#        }#}
{#    };#}
{##}
{#    document.getElementById('search_input').addEventListener('keyup', function(event){#}
{#        if(event.key === 'Enter'){#}
{#            searchPost();#}
{#        }#}
{#    });#}
{#</script>#}

<!-- Navbar
================================================== -->

<div class="fixed-bottom">
{% include 'blog/footer.html' %}
</div>

<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>


</body>
</html>