<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Board{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body style="background-color: #ffffff">

{% include 'basecamp/navbar.html' %}

<div class="container my-3">
    <div class="row">
        <div class="col-md-8 col-lg-9" id="main-area">

            <section class="py-1 text-center container">
                <div class="row py-lg-5">
                    <div class="col-lg-6 col-md-8 mx-auto">

                        <h1 class="fw-light">자유게시판</h1>
                        <p class="lead text-muted">여러분의 의견을 자유롭게 알려주세요.</p>

                    </div>
                </div>
            </section>

            <table class="table" id="board-table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col" class="text-center">제목</th>
                    <th scope="col" class="text-center">작성자</th>
                    <th scope="col" class="text-center">작성일</th>
                    <th scope="col" class="text-center">댓글</th>
                </tr>
                </thead>
                <tbody>


                <tr id="tr-25">
                    <td>25</td>
                    <td><a href="/board/free-board/25/">[정오표] 책에서 이상한 걸 발견한다면, 꼭 알려주세요.</a></td>

                    <td class="text-center">
                        <span class="badge badge-pill badge-light">
                            <img class="mr-1 rounded-circle" width="20px" src="https://lh3.googleusercontent.com/a-/AOh14Gh_ATlfbdtmSt4bSJtmmK-hiCGYh4qWTDXUEt-HWg=s96-c" alt="sungyong">
                                sungyong
                        </span>
                    </td>
                    <td class="small text-center">2 weeks, 3 days ago</td>
                    <td class="text-center" id="board-25-comment-count">1</td>
                </tr>

                <tr id="tr-18">
                    <td>18</td>
                    <td><a href="/board/free-board/18/">추가로 공부하고싶을때 도움받을만한 책이 또 있을까요?</a></td>

                    <td class="text-center">
                        <span class="badge badge-pill badge-light">
                            <img class="mr-1 rounded-circle" width="20px" src="https://avataaars.io/?avatarStyle=Circle&amp;topType=LongHairBun&amp;accessoriesType=Round&amp;hairColor=Black&amp;facialHairType=MoustacheMagnum&amp;clotheType=CollarSweater&amp;eyeType=Wink_Wacky&amp;eyebrowType=UpDownNatural&amp;mouthType=Vomit&amp;skinColor=Brown" alt="yepp4359">
                                yepp4359
                        </span>
                    </td>
                    <td class="small text-center">3 weeks, 4 days ago</td>
                    <td class="text-center" id="board-18-comment-count">2</td>
                </tr>

                <tr id="tr-17">
                    <td>17</td>
                    <td><a href="/board/free-board/17/">자유로운 글쓰기</a></td>

                    <td class="text-center">
                        <span class="badge badge-pill badge-light">
                            <img class="mr-1 rounded-circle" width="20px" src="https://lh3.googleusercontent.com/a-/AOh14GhJPc1g1oHaMkEgVT5oaELiJxwJ5_1BRINLCxbkLw=s96-c" alt="solideogsus">
                                solideogsus
                        </span>
                    </td>
                    <td class="small text-center">3 weeks, 4 days ago</td>
                    <td class="text-center" id="board-17-comment-count">3</td>
                </tr>

                <tr id="tr-1">
                    <td>1</td>
                    <td><a href="/board/free-board/1/">자유로운 의견을 작성해주세요.</a></td>

                    <td class="text-center">
                        <span class="badge badge-pill badge-light">
                            <img class="mr-1 rounded-circle" width="20px" src="https://lh3.googleusercontent.com/a-/AOh14Gh_ATlfbdtmSt4bSJtmmK-hiCGYh4qWTDXUEt-HWg=s96-c" alt="sungyong">
                                sungyong
                        </span>
                    </td>
                    <td class="small text-center">1 month, 2 weeks ago</td>
                    <td class="text-center" id="board-1-comment-count">1</td>
                </tr>


                </tbody>
            </table>


            <a href="/board/create/free-board/" class="btn btn-secondary float-right btn-sm" id="write-new"><i class="fas fa-pen"></i>&nbsp; 글쓰기</a>


            <!--Pagination-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">

                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>


                    <li class="page-item active" aria-current="page">
              <span class="page-link">
                1
                <span class="sr-only">(current)</span>
              </span>
                    </li>






                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Next</a>
                    </li>

                </ul>
            </nav>
            <!--end of Pagination-->

            <hr/>

        </div>

        <div class="col-md-4 col-lg-3">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." id="search-input">
                        <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" onclick="searchPost();">Go!</button>
                            </span>
                    </div>
                </div>
            </div>

            <!-- Categories Widget -->
            <div class="card" id="category-card">
                <ul class="list-group list-group-flush">
                    <li id="category-qna"
                        class="list-group-item "
                        style="cursor:pointer"
                        onclick="location.href='#'">
                        자유 게시판
                    </li>
                    <li id="category-gallery"
                        class="list-group-item "
                        style="cursor:pointer"
                        onclick="location.href='/board/gallery/'">
                        QnA
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<script>
    function search_post(){
        var search_value = document.getElementById('search_input').value;
        location.href="/blog/search/" + search_value + "/";
    }

    function wait_for_enterkey(){
        if (window.event.keyCode == 13){
            search_post();
        }
    }
</script>

{#<script>#}
{#    function searchPost(){#}
{#        let searchValue = document.getElementById('search_input').value.trim();#}
{#        if (searchValue.length > 1){#}
{#            location.href="/blog/search/" + searchValue + "/";#}
{#        }#}
{#        else{#}
{#            alert('검색어('+ searchValue +')가 너무 짧습니다.');#}
{#        }#}
{#    };#}
{##}
{#    document.getElementById('search_input').addEventListener('keyup', function(event){#}
{#        if(event.key === 'Enter'){#}
{#            searchPost();#}
{#        }#}
{#    });#}
{#</script>#}

<!-- Navbar
================================================== -->

{% include 'blog/footer.html' %}

<script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
<script src="{% static 'blog/bootstrap/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'blog/_assets/js/custom.js' %}"></script>


</body>
</html>