{% extends 'board/base.html' %}

{% block content %}
    {% if search_info %}<Span class="text-muted"> 게시판 : {{ search_info }} ({{ object_list.count }})개</Span>{% endif %}
    <table class="table" id="board-table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-center">제목</th>
            <th scope="col" class="text-center">작성자</th>
            <th scope="col" class="text-center">작성일</th>
            <th scope="col" class="text-center">댓글</th>
        </tr>
        </thead>
        {% for p in board_list %}
            <tbody>
            <tr id="tr-{{ p.pk }}">
                <td>{{ p.pk }}</td>
                <td><a href="/board/free_board/{{ p.pk }}/">{{p.title}}</a></td>

                <td class="text-center">
                        <span class="badge badge-pill badge-light text-muted">
                            <img class="mr-1 rounded-circle" width="20px" src="/" alt="">
                            {{ p.author }}
                        </span>
                </td>
                <td class="small text-center">{{ p.created_at}}</td>
                <td class="text-center" id="board-{{ p.pk }}-comment-count">{{ p.boardcomment_set.count }}</td>

            </tr>
            </tbody>
        {% endfor %}
    </table>
    {% if request.user.is_authenticated %}
        <a href="/board/create/free_board/" class="btn btn-secondary float-right btn-sm" id="write-new"><i class="fas fa-pen"></i>&nbsp; 글쓰기</a>
    {% else %}
        <button type="button" class="btn btn-outline-secondary float-right" data-toggle="modal" data-target="#loginModal">
                글쓰기 <small class="text-lg-left">(Click to log In)</small>
        </button>
    {% endif %}

    {% if is_paginated %}
        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">&larr; Older</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">&larr; Older</a>
                </li>
            {% endif %}

            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Newer &rarr;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Newer &rarr;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}



{% endblock %}
