<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'blog/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'blog/_assets/css/custom.min.css' %}">
    

</head>
<body>
<h1>Blog</h1>


{% for p in object_list %}
    <h3>{{ p.title }}</h3>
    <h4>{{ p.created }} by {{ p.author }}</h4>
    <p>{{ p.content }}</p>
{% endfor %}

    <script src="{% static 'blog/_assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'blog/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'blog/_assets/js/custom.js' %}"></script>
</body>
</html>