{% extends 'basecamp/base_full.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'basecamp/css/about_me.css' %}" media="screen">
    <script src="https://kit.fontawesome.com/726bbd6862.js" crossorigin="anonymous"></script>

    <section>
        <div class="container mt-4">
            <div class="row">
                <div class="col-lg-8">
                    <h1>안녕하세요. 안종순입니다.</h1>
                    <br/>
                    <p class="lead">
                        내 나이 서른, 개발자로서 새로운 커리어를 시작하려합니다..<br/>
                        데이터 분석과 웹사이트 개발자가 되기 위한 여정을 떠나려 합니다.
                    </p>

                    <ul>
                        <li>WORK EXPERIENCE</li>
                        <ul>
                            <li>좋은회사 - 빅데이터분석 (2019.10 ~)</li>
                            <li>좋은공공기관 (2016.02 ~ 2019.09)</li>
                        </ul>
                        <li>사회 경험</li>
                        <ul>
                            <li>철학박사, 장고공학(Philosophy Engineering), 인생대학교 (2010.03~2015.09)</li>
                            <li>사업석사, 사업공학(Business Engineering), 파이썬대학교 (2007.09~2009.08)</li>
                            <li>공학학사, 장고공학(Django Engineering), 파이썬대학교 (2003.03~2007.08)</li>
                        </ul>
                        <li>PUBLISH</li>
                        <ul>
                            <li>Nothing, 라이프 퍼블리싱 (2020)</li>
                        </ul>
                    </ul>

                </div>
                <div class="col-lg-4">
                    <img class="img-fluid" src="{% static 'basecamp/images/soon2.jpg' %}">
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light margin-for-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>PORTFOLIO</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#pycon2017">
                        <img class="card-img-top" src="{% static 'basecamp/images/트레이딩.jpg' %}">
                        <div class="card-body">
                            <h5 class="card-title">파이썬으로 증권데이터 분석하기 </h5>
                            <p>Python, Django, Pandas로 증권데이터를 수집/분석/시각화 합니다.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#inflearn_django2">
                        <img class="card-img-top" src="{% static 'basecamp/images/soon-invest.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">Django/Python을 활용한 웹사이트 구축</h5>
                            <p>파이썬 웹 프레임워크 Django를 활용하여 웹개발 합니다.</p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card" data-toggle="modal" data-target="#automation_python">
                        <img class="card-img-top" src="{% static 'basecamp/images/dataanalysis.png' %}">
                        <div class="card-body">
                            <h5 class="card-title">장고 + 파이썬을 활용한 투자/증권 데이터 분석 플랫폼 개발</h5>
                            <p>장고와 파이썬 라이브러리를 활용한 증권/투자 데이터 분석 및 투자 정보 공유사이트입니다.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Modal -->
    <div class="modal fade" id="pycon2017" tabindex="-1" role="dialog" aria-labelledby="pycon2017ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="pycon2017ModalLabel">파이썬으로 증권데이터 분석하기</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'basecamp/images/트레이딩.jpg' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>Python, Django, Pandas로 증권데이터를 수집/분석/시각화 합니다.</p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="inflearn_django2" tabindex="-1" role="dialog" aria-labelledby="inflearnDjangoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" inflearnDjangoModalLabel">Django/Python을 활용한 웹사이트 구축</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'basecamp/images/soon-invest.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>파이썬 웹 프레임워크 Django를 활용하여 웹개발 합니다.</p>
                            <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher"></i> URL</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="automation_python" tabindex="-1" role="dialog" aria-labelledby="automationPythonModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id=" automationPythonModalLabel">장고 + 파이썬을 활용한 투자/증권 데이터 분석 플랫폼 개발</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <img class="img-fluid" src="{% static 'basecamp/images/dataanalysis.png' %}">
                        </div>
                        <div class="col-lg-5">
                            <p>장고와 파이썬 라이브러리를 활용한 증권/투자 데이터 분석 및 투자 정보 공유사이트입니다.</p>
                           <button type="button" class="btn btn-light"><i class="fas fa-chalkboard-teacher" ></i> URL</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>




{% endblock %}