{% extends 'basecamp/base_full.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'basecamp/css/landing.css' %}">
<section>
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6 text-light">
                <h1 class="mt-5">Soon InvesT</h1>
                <p>증권/금융 데이터 분석을 위해서 파이썬을 새로 배우고 웹사이트까지 만들 필요성을 느끼고 장고로 넘어갔다. 웹사이트 만드는 법을 숙지하고 나면 데이터 분석 결과를 웹사이트에 꾸준히 올릴 예정이다.</p>
            </div>
            <div class="col-lg-4 text-light float-right">
                <h2 class="mt-5 font-weight-bold" style="text-align: center">진정한 여행 </h2>
                <br/>
                <h5 class="font-italic" style="text-align: center"  >가장 아름다운 노래는 아직 불려지지 않았다.</h5>
                <h5 class="font-italic" style="text-align: center">최고의 날들은 아직 살지 않은 날들.</h5>
                <h5 class="font-italic" style="text-align: center">가장 넓은 바다는 아직 항해되지 않았고,</h5>
                <h5 class="font-italic" style="text-align: center">가장 먼 여행은 아직 끝나지 않았다.</h5>
                <h5 class="font-italic" style="text-align: center">불멸의 춤은 아직 추어지지 않았으며,</h5>
                <h5 class="font-italic" style="text-align: center">가장 빛나는 별은 아직 발견되지 않은 별.</h5>
                <h5 class="font-italic" style="text-align: center">무엇을 해야 할지 더이상 알 수 없을 때</h5>
                <h5 class="font-italic" style="text-align: center">그때 비로소 진정한 무엇인가를 할 수 있다.</h5>
                <h5 class="font-italic" style="text-align: center">어느 길로 가야할지 더 이상 알 수 없을 때</h5>
                <h5 class="font-italic" style="text-align: center">그때가 비로소 진정한 여행의 시작이다.</h5>
                <br/>
                <h6 style="text-align: center">| 나짐 히크메트 |</h6>
            </div>
        </div>
    </div>
</section>


{% endblock %}